<div class="site-nav">
  {%- if settings.contact_phone != blank -%}
      <!-- a href="tel:{{ settings.contact_phone }}" class="site-nav__phone site-nav__link site-nav__link--icon">
          <svg class="icon icon-phone" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.25 6.6725C4.22643 6.37744 4.26132 6.08062 4.35266 5.79906C4.444 5.5175 4.59 5.25673 4.78229 5.03169C4.97458 4.80665 5.20939 4.62177 5.47326 4.48763C5.73713 4.35349 6.02487 4.27274 6.32 4.25H10.4525C10.7529 4.24971 11.0465 4.33963 11.2952 4.50812C11.5439 4.67661 11.7363 4.9159 11.8475 5.195L12.9875 8C13.0973 8.27266 13.1245 8.57156 13.0658 8.85957C13.0072 9.14758 12.8652 9.412 12.6575 9.62L11.06 11.2325C11.3095 12.6506 11.9886 13.9578 13.0054 14.9772C14.0222 15.9967 15.3276 16.6792 16.745 16.9325L18.3725 15.32C18.5836 15.1146 18.8505 14.9759 19.14 14.9213C19.4294 14.8666 19.7285 14.8983 20 15.0125L22.8275 16.145C23.1024 16.2597 23.3369 16.4536 23.5012 16.702C23.6655 16.9504 23.7521 17.2422 23.75 17.54V21.5C23.75 22.0967 23.513 22.669 23.091 23.091C22.669 23.5129 22.0967 23.75 21.5 23.75H21.3725C6.635 22.9025 4.5425 10.4675 4.25 6.6725ZM21.4015 22.75C14.3805 22.3384 10.4648 19.1997 8.23241 15.7709C5.96202 12.2838 5.38757 8.41885 5.24705 6.59565L5.24683 6.59288C5.23373 6.42895 5.25311 6.26406 5.30386 6.10763C5.3546 5.95121 5.43571 5.80634 5.54254 5.68132C5.64937 5.5563 5.77982 5.45358 5.92642 5.37906C6.06324 5.30951 6.21161 5.26579 6.3641 5.25L10.4525 5.25C10.5526 5.2499 10.6515 5.27988 10.7344 5.33604C10.8173 5.39221 10.8814 5.47197 10.9185 5.565L12.0599 8.37344C12.06 8.37382 12.0602 8.37421 12.0603 8.37459C12.0965 8.46517 12.1054 8.56436 12.086 8.65996C12.0664 8.75597 12.0191 8.84411 11.9499 8.91344L11.9471 8.91621L9.98547 10.8963L10.0751 11.4058C10.3602 13.0257 11.1359 14.5189 12.2974 15.6834C13.4589 16.8479 14.95 17.6276 16.5691 17.9169L17.0801 18.0082L19.0722 16.0345C19.1422 15.9673 19.2302 15.9219 19.3256 15.9039C19.4221 15.8856 19.5218 15.8962 19.6123 15.9343L19.6202 15.9376L22.4473 17.07C22.5369 17.1084 22.6133 17.1722 22.6671 17.2536C22.7219 17.3364 22.7507 17.4337 22.75 17.5329L22.75 21.5C22.75 21.8315 22.6183 22.1495 22.3839 22.3839C22.1495 22.6183 21.8315 22.75 21.5 22.75H21.4015Z"/>
          </svg>
          <span>
              {{ settings.contact_phone }}
          </span>
    </a -->
  {%- endif -%}
  <div class="site-nav__icons">
    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon small--hide" href="{{ routes.account_url }}">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-user" viewBox="0 0 64 64"><path d="M35 39.84v-2.53c3.3-1.91 6-6.66 6-11.41 0-7.63 0-13.82-9-13.82s-9 6.19-9 13.82c0 4.75 2.7 9.51 6 11.41v2.53c-10.18.85-18 6-18 12.16h42c0-6.19-7.82-11.31-18-12.16z"/></svg>
        <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
            {{ 'layout.customer.log_in' | t }}
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}

    {% unless section.settings.show_icons_instead_search %}
        {%- if settings.search_enable -%}
            <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header{% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
                <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
            </a>
        {%- endif -%}
    {% endunless %}

    {%- if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' or section.settings.main_menu_alignment == 'left-drawer' -%}
      <button
        type="button"
        class="site-nav__link site-nav__link--icon js-drawer-open-nav{% if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' %} medium-up--hide{% endif %}"
        aria-controls="NavDrawer">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><path d="M7 15h51M7 32h43M7 49h51"/></svg>
        <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
      </button>
    {%- endif -%}

    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
      <span class="cart-link">
        {%- if settings.cart_icon == 'cart' -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 64 64"><path fill="none" d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"/><circle cx="27" cy="53" r="2"/><circle cx="47" cy="53" r="2"/></svg>
        {%- elsif settings.cart_icon == 'bag-minimal' -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag-minimal" viewBox="0 0 64 64"><path stroke="null" id="svg_4" fill-opacity="null" stroke-opacity="null" fill="null" d="M11.375 17.863h41.25v36.75h-41.25z"/><path stroke="null" id="svg_2" d="M22.25 18c0-7.105 4.35-9 9.75-9s9.75 1.895 9.75 9"/></svg>
        {%- else -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64"><g fill="none" stroke="#000" stroke-width="2"><path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"/><path d="M14.74 18h36.51l3.59 36.73h-43.7z"/></g></svg>
        {%- endif -%}
        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
      </span>
    </a>
  </div>
</div>
