{% style %}
  .flex-revert--{{ section.id }}{
    {% if section.settings.swap %}flex-direction: row-reverse;{% endif %}
  }
  .image-wrapper--{{ section.id }}{
    {% if section.settings.swap %}margin-left: 50px;{% else %} margin-right: 50px; {% endif %}
  }
  .title--{{ section.id }}{
    font-size:{{section.settings.title_font_size}}px;
    margin-bottom: 20px;
  }
  .description--{{ section.id }}{
    font-size:{{section.settings.text_font_size}}px;
  }
{% endstyle %}

<div class="page-width" >
  <div class="image-with-description flex-revert--{{ section.id }}">
    <div class="image-with-description__image-wrapper image-wrapper--{{ section.id }}">
      <img
          class="image-fit lazyload"
          src="{{ section.settings.image | img_url: '300x' }}"
          data-aspectratio="{{ section.settings.image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ section.settings.image.alt | escape }}">
    </div>
    <div class="image-with-description__content">
      {% if section.settings.title != "" %}
        <h3 class="title--{{ section.id }}">
          {{section.settings.title}}
        </h3>
      {% endif %}
      {% if section.settings.text != "" %}
        <p class=".description--{{ section.id }}">
          {{section.settings.text}}
        </p>
      {% endif %}
      {% if section.settings.btn_text != "" %}
        <a href="{{ section.settings.btn_link }}" class="btn image-with-description__btn">
          {{section.settings.btn_text}}
        </a>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
	{
    "name": "Image with description",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Header"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "swap",
        "label": "Swap picture and text"
      },
      {
        "type": "range",
        "id": "title_font_size",
        "label": "Header size",
        "default": 18,
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "text_font_size",
        "label": "Text size",
        "default": 18,
        "min": 10,
        "max": 100,
        "step": 2,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      }
    ],
    "presets": [{
        "name": "Image with description"
    }]
  }
{% endschema %}