{% style %}
  .flex-revert--{{ section.id }}{
    {% if section.settings.swap %}flex-direction: row-reverse;{% endif %}
  }
  @media (min-width: 769px) {
  .flex-revert--{{ section.id }}{
      display: flex;
      align-items: center;
    }
  .image-wrapper--{{ section.id }}{
      {% if section.settings.swap %}margin-left: 50px;{% else %} margin-right: 50px; {% endif %}
    }
  }
  @media (max-width: 768px){
    .flex-revert--{{ section.id }}{
      margin-bottom: 20px;
    }
    .image-wrapper--{{ section.id }}{
      margin-bottom: 20px
    }
  }
  .title--{{ section.id }}{
    margin-bottom: 20px;
  }
{% endstyle %}

<div class="page-width {% if section.settings.margin_top %} promo-grid--space-top {% endif %} {% if section.settings.margin_bottom %} promo-grid--space-bottom {% endif %}">
  <div class="image-with-description flex-revert--{{ section.id }}">
    <div class="image-with-description__image-wrapper image-wrapper--{{ section.id }}">
      <img
          class="image-fit lazyload"
          src="{{ section.settings.image | img_url: '300x' }}"
          data-aspectratio="{{ section.settings.image.aspect_ratio }}"
          data-sizes="auto"
          alt="{{ section.settings.image.alt | escape }}">
    </div>
    <div class="image-with-description__content">
      {% if section.settings.title != "" %}
        <h3 class="title--{{ section.id }}">
          {{section.settings.title}}
        </h3>
      {% endif %}
      {% if section.settings.text != "" %}
        <p class="description--{{ section.id }}">
          {{section.settings.text}}
        </p>
      {% endif %}
      {% if section.settings.btn_text != "" %}
        <a href="{{ section.settings.btn_link }}" class="btn image-with-description__btn">
          {{section.settings.btn_text}}
        </a>
      {% endif %}
    </div>
  </div>
</div>


{% schema %}
	{
    "name": "Image with description",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Header"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "swap",
        "label": "Swap picture and text"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      },
      {
        "type": "checkbox",
        "id": "margin_top",
        "label": "Add padding top"
      },
      {
        "type": "checkbox",
        "id": "margin_bottom",
        "label": "Add padding bottom"
      }
    ],
    "presets": [{
        "name": "Image with description"
    }]
  }
{% endschema %}