{% style %}
  .rich-text-wrapper--{{ section.id }} .theme-block:first-of-type{
    margin-bottom: 0
  }
  .rich-text-wrapper--{{ section.id }} .rich-text__subheader {
    position: relative;
    margin-bottom: 20px;
  }
  .rich-text-wrapper--{{ section.id }} .bg-section__img {
    position: absolute;
    top: 0;
    object-fit: contain;
{% endstyle %}
{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

<div class="text-{{ section.settings.align_text }} rich-text-wrapper--{{ section.id }} page-width{% if section.settings.narrow_column %} page-width--narrow{% endif %}">
  {%- for block in section.blocks -%}
    <div class="theme-block" {{ block.shopify_attributes }}>
      {%- case block.type -%}
        {%- when 'subheading' -%}
          <span class="rich-text__header h2 rte-custom">{{ block.settings.subtitle | escape }}</span>
        {%- when 'heading' -%}
          {%- if block.settings.image != blank -%}
            {% style %}
              .rich-text-wrapper--{{ section.id }} .theme-block {
                position: relative;
              }
              .rich-text-wrapper--{{ section.id }} .rich-text__subheader {
                position: relative;
              }
              .rich-text-wrapper--{{ section.id }} .bg-section__img {
                position: absolute;
                top: 0;
                object-fit: contain;
                {%- if block.settings.image_width != blank -%}
                  width: {{ block.settings.image_width }}%;
                {%- endif -%}
                {%- if block.settings.image_position != blank -%}
                  left: {{ block.settings.image_position }}%;
                {%- endif -%}
              }
              @media only screen and (max-width:568px){
                object-fit: contain;
                object-position: right;
                width: 100%;
                height: 100%;
                left: 0;
              }
            {% endstyle %}

            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="bg-section__img lazyload"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 750, 900, 1080]"
                 data-aspectratio="{{ block.settings.image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ block.settings.image.alt }}">
          {%- endif -%}
          <h2 class="rich-text__subheader">{{ block.settings.title | escape }}</h2>
        {%- when 'page' -%}
          <div class="rte">
            {%- if block.settings.page_text != blank -%}
              {{ pages[block.settings.page_text].content }}
            {%- else -%}
              {{ 'home_page.onboarding.no_content' | t }}
            {%- endif -%}
          </div>
        {%- when 'text' -%}
          <div class="rte">
            {%- if block.settings.text != blank -%}
              {%- if block.settings.enlarge_text %}<div class="enlarge-text">{% endif -%}
              {{ block.settings.text }}
              {%- if block.settings.enlarge_text %}</div>{% endif -%}
            {%- else -%}
              {{ 'home_page.onboarding.no_content' | t }}
            {%- endif -%}
          </div>
        {%- when 'button' -%}
          <div class="rte">
            <a href="{{ block.settings.link }}" class="btn">
              {{ block.settings.link_text }}
            </a>
          </div>
      {%- endcase -%}
    </div>
  {%- endfor -%}
</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Rich text",
    "class": "index-section",
    "settings": [
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "narrow_column",
        "label": "Narrow column",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks" : [
      {
        "type": "subheading",
        "name": "SubHeading",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Heading",
            "default": "Rich text"
          }
        ]
      },
      {
        "type": "background",
        "name": "Background image",
        "settings": [
          {
            "type": "header",
            "content": "Image left"
          },
          {
            "type": "image_picker",
            "id": "image-left",
            "label": "Adding image"
          },
          {
            "type": "range",
            "id": "image_left_width",
            "label": "Image width",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%"
          },
          {
            "type": "range",
            "id": "image_left_position",
            "label": "Image position",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%"
          },
          {
            "type": "header",
            "content": "Image right"
          },
          {
            "type": "image_picker",
            "id": "image-right",
            "label": "Adding image"
          },
          {
            "type": "range",
            "id": "image_right_width",
            "label": "Image position",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%"
          },
          {
            "type": "range",
            "id": "image_right_position",
            "label": "Image position",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%"
          }
        ]
      },
      {
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Rich text"
          },
          {
            "type": "header",
            "content": "Background image"
            },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Adding image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%"
          },
          {
            "type": "range",
            "id": "image_position",
            "label": "Image position",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          },
          {
            "id": "text",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Button text",
            "default": "Button"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "id": "page_text",
            "type": "page",
            "label": "Page"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Rich text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }]
  }
{% endschema %}
