{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign overlap_images = true
  if section.settings.image != blank and section.settings.image2 == blank
    assign overlap_images = false
  endif
-%}

{%- style -%}
  .{{ section.id }} .feature-row__item-image:before {
    {% if section.settings.image_bg_color != blank %}
      background-color: {{ section.settings.image_bg_color }};
    {% endif %}
    {%- if section.settings.image_bg != blank  -%}
      background-image: url({{ section.settings.image_bg | img_url: 'master' }});
    {% endif %}
  }
  {%- if section.settings.text_image_bg != blank -%}
    .{{ section.id }} {
      background-image: url({{ section.settings.text_image_bg | img_url: 'master' }});
      background-repeat: no-repeat;
      background-size: contain;
      {%- if section.settings.layout == 'left' -%}
        background-position: right;
      {% endif %}
    }
  {% endif %}


{%- endstyle -%}

<div class="{{ section.id }} {% if section.settings.margin_top %} grid--space-top {% endif %} {% if section.settings.margin_bottom %} grid--space-bottom {% endif %}">
  <div class="page-width feature-row-wrapper">
    {%- capture image_layout -%}
      <div class="feature-row__item feature-row__item-image{% if overlap_images %} feature-row__item--overlap-images{% endif %}
           {% if section.settings.image_position != blank %} feature-row__item-{{ section.settings.image_position }}{% endif %}
           {%- if section.settings.image2 == blank -%} feature-row__item--single-image {% endif %}"
           style="max-width: {{ section.settings.image_width }}px" data-aos>
          {%- if section.settings.image != blank -%}
            <div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image.alt }}">
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.image2 != blank -%}
            <div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}<a href="{{ section.settings.button_link }}">{%- endif -%}
                <div class="image-wrap" style="height: 0; padding-bottom: {{ 100 | divided_by: section.settings.image2.aspect_ratio }}%;">
                  {%- assign img_url = section.settings.image2 | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="feature-row__image lazyload"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 750, 900, 1080]"
                    data-aspectratio="{{ section.settings.image2.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ section.settings.image2.alt }}">
                </div>
              {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}</a>{%- endif -%}
            </div>
          {%- endif -%}
          {%- if section.settings.image == blank and section.settings.image2 == blank -%}
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
            <div>
              <div class="image-wrap">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            </div>
          {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="feature-row feature-row{%- if section.settings.layout == 'left' -%}-left{%- else -%}-right{%- endif -%}">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
        {%- if section.settings.title != blank and section.settings.another_text == false -%}
          <div class="h3 appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.title | escape }}</div>
        {%- endif -%}
        {%- if section.settings.subtitle != blank and section.settings.another_text == false -%}
          <div class="h5 price appear-delay{% cycle '','-1','-2','-3','-4' %}">{{ section.settings.subtitle }}</div>
        {%- endif -%}
        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}
            {%- if section.settings.another_text -%}rte-custom h2{%- endif -%}">
            {{ section.settings.text }}
          </div>
        {%- endif -%}
        {%- if section.settings.button_label != blank and section.settings.another_text == false -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}
      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>

</div>

{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Image with text",
    "class": "image-with-text",
    "settings": [
      {
      "type": "header",
      "content": "Image block settings"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "range",
        "id": "image_width",
        "label": "Image width",
        "default": 700,
        "min": 200,
        "max": 700,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Positioning images",
        "default": "left-bottom",
        "options": [
          {
            "value": "left-top",
            "label": "The first image on the left is at the top."
          },
          {
            "value": "right-top",
            "label": "The second image on the right is at the top."
          },
          {
            "value": "left-bottom",
            "label": "The first image on the left is at the bottom."
          },
          {
            "value": "right-bottom",
            "label": "The second image from the left is at the bottom."
          }
        ]
      },
      {
        "type": "color",
        "id": "image_bg_color",
        "label": "Background color",
        "default": "#F8E6D4"
      },
      {
        "type": "image_picker",
        "id": "image_bg",
        "label": "Select an image for the background"
      },
      {
      "type": "header",
      "content": "Text block settings"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subheading"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "checkbox",
        "id": "another_text",
        "label": "Show another style for text",
        "info": "If enabled, the text will be displayed in a different text style.",
        "default": false
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Pair large text with an image to tell a story, explain a detail about your product, or describe a new promotion.</p>"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Button style",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          }
        ]
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "text_image_bg",
        "label": "Select an image for the background"
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "margin_top",
        "label": "Add padding top"
      },
      {
        "type": "checkbox",
        "id": "margin_bottom",
        "label": "Add padding bottom"
      }
    ],
    "presets": [
      {
        "name": "Image with text"
      }
    ]
  }
{% endschema %}
